.version.list03 /* version checker */
{
	color: #000010;
	background-color: #B78911;
}

#page
{
	z-index: 1;
	min-height: 481px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 19px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u257-3
{
	z-index: 36;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	width: 0.94%;
	left: -23.96%;
}

#pu108
{
	z-index: 3;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	width: 18.75%;
	margin-left: 2.09%;
}

#u108
{
	z-index: 3;
	position: relative;
	width: 100%;
}

#u108:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-5
{
	z-index: 7;
	min-height: 42px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u157-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 100%;
	margin: 0px -10000px -1px 0%;
}

#u160-4
{
	z-index: 12;
	min-height: 6px;
	position: relative;
	width: 100%;
}

#u160-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u188-4
{
	z-index: 16;
	min-height: 6px;
	position: relative;
	width: 100%;
}

#u160-4.MuseLinkActive,#u188-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u191-4
{
	z-index: 20;
	min-height: 6px;
	position: relative;
	width: 100%;
}

#u188-4.MuseLinkActive,#u191-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u194-4
{
	z-index: 24;
	min-height: 6px;
	position: relative;
	width: 100%;
}

#u191-4.MuseLinkActive,#u194-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u194-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#pu105
{
	z-index: 2;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 20px;
	width: 77.09%;
	margin-left: 20.84%;
}

#u105
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u154-3
{
	z-index: 4;
	min-height: 27px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu197-7
{
	z-index: 28;
	width: 100%;
}

#u197-7
{
	z-index: 28;
	min-height: 376px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u200
{
	z-index: 35;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 96.36%;
	left: 1.76%;
}

#u266-4
{
	z-index: 39;
	min-height: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 100.15%;
	left: -0.15%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

